@font-face {
    font-family: DelrosaHoliday;
    font-weight: normal;
    font-style: normal;
    src: url('fonts/DelrosaHoliday.ttf');
}

@font-face {
    font-family: Coolvetica;
    font-weight: normal;
    font-style: normal;
    src: url('fonts/coolvetica\ rg.otf');
}

.title {
    font-family: DelrosaHoliday;
    font-size: 30px;
    padding-top: 5em;

    text-align: center;
}

.content {
    padding-top: 2em;
    font-family: Coolvetica;
    font-size: 40px;
}

.typeData {
    float: left;
    height: 100%;
    width: 49%;

    text-align: right;
}

.data {
    float: right;
    height: 100%;
    width: 49%;

    text-align: left;
}

.footer-name{
    float: right;
    height: 100%;
    width: 10em;

    text-align: right;
    font-size: 20px;
}

.footer-logo-ensta{
    float: left;
    height: 100%;
    width: 20em;

    text-align: left;
}


body {
    background-image:url('https://images.unsplash.com/photo-1556290160-d006087340ac?ixid=MnwxMTI1OHwwfDF8cmFuZG9tfHx8fHx8fHx8MTY1NzA0NTgxNQ&ixlib=rb-1.2.1&q=85&w=3600');
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: black;

    color: White;
}

footer{
    width: 97%;
    position: absolute;
    bottom:0;
    padding-top:10em;
    padding-bottom: 1em;
    font-family: Coolvetica;
}
